@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@using ThreeHundredRepro
@model ThreeHundredRepro.WarningModal

<div>
    @if (Model.BoolProperty)
    {
        <partial name="@string.Empty"
                 model='@new WarningModal()
{
                    ModalTitle = Model.ModalTitle,
                    Message = Model.Message,
                    ConfirmUrl = Url.Action(),
                    ModalId = "Constant"
}' />
        
    }
</div>